*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
  #root{
  width: 100%;
  height: 100%;
}
 .app{
     display: flex;
     flex-direction: column;
     gap: 50px;
     justify-content: center;
     align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
    color: white;
 }
 .select{
  width: 20% ;
  padding: 5px 0px; 
  color: red;
  font-weight: 900;
 }
   h1{
      font-size: 60px;
    font-style: italic;
    font-weight: bold;
   }
   .red{
     color: red;
   }
   .pink{
    color:blue;
   }
  